.contactUsForm {
    width: 56%;
    @include displayFlex(column, flex-start, center);
    position: relative;
    bottom: 200px;
    left: 140px;
    margin: 0;
    padding: 20px;
    background-color: white;
    box-shadow: -10px 10px 0px 0px $colorYellow;

    .contactForm {
        width: 80%;
    }
}

.contactForm .contactFormInput {
    width: 100%;

    input[type='email'],
    input[type='name'] {
        @include inputFont;
        width: calc(50% - 3%);
        margin: 2rem 0 1rem 0;
        padding-bottom: 0.5rem;
    }

    input[type='email'] {
        margin-left: 2%;
    }

    input[type='name'] {
        margin-right: 2%;
    }
}

.contactForm {

    textarea {
        height: 200px;
        padding: 25px 0 0 15px;
        @include textArea;
        background-color: white;
    }

    .postComment {
        @include formButton;
        margin: 2rem 0 1rem 0;
        

        &:hover {
            @include buttonHover;
        }

        &:active {
            @include buttonActive;
        }
    }
}
