body {
    background-color: $colorWhite;

    .contactMain {
        @include displayFlex(row, flex-start, center);
        margin-left: 7rem;

        ul {
            @include displayFlex(row, flex-start, center);
            margin: 0;
            padding: 0;

            li:first-of-type a {
                margin-left:0;
            }

            li {
                list-style: none;


                a {
                    color: $colorLightGreen;
                    margin: 1rem;
                    @include fontSize(1.2rem);
                    transition:.3s all linear;
                    transform:translateY(0);


                    &:hover {
                        @include fontSize(1.5rem);
                        color:$colorGrey;
                        transform:translateY(-50px);
                        
                    }
                }
            }
        }

        .contactEmail {
            font-family: $primaryFont;
            letter-spacing: 1.5px;
        }

        .address {

            p {
                padding: 0;
                margin: 0;
                @include bodyText;
            }
        }
    }
}