.contactMain {
    @include displayFlex(row, flex-start, center);
    margin-left: 7rem;

    ul {
        @include displayFlex(row, flex-start, center);
        margin: 0;
        padding: 0;
    }
}

.contactMain ul {

    
    li a {
        color: $colorLightGreen;
        transform: translateY(0);
        @include fontSize(1.2rem);
        transition: .3s all linear;
        background-color:transparent;
        
        
        &:hover {
            transform: translateY(-50px);
            @include fontSize(1.5rem);
            color: $colorGrey;
            
        }
    }

    li:first-of-type a {
        padding-left: 0;
    }
}

.contactEmail {
    font-family: $primaryFont;
    letter-spacing: 1.5px;
}

.address {

    p {
        padding: 0;
        margin: 0;
        @include bodyText;
    }
}