//QUERIES

@media #{$xlLargeDesktop} {
    .body{

        .contactMain {
            margin-left:0;

            .contactUsForm {
                width:80%;
                justify-content: center;

            }
        }
    }
}

//1440px
@media #{$medDesktop} {
    .contactHeader {

        .contactHeaderTitle {
            margin-top: 7rem;
            width: 30%;
        }
    }

    .contactUsForm {

        margin-right: 2rem;

    }
}

//1200px
@media #{$smallDesktop} {

    .contactHeader {

        .contactHeaderTitle {
            margin-top: 5rem;
            width: 30%;
        }
    }

    .contactUsForm {
        left: 1rem;
        margin-right: 2rem;
    }
}

//1000px
@media #{$largeTablet} {
    body {

        .contactHeader {

            .contactHeaderTitle {
                color: black;
                display: block;
                width: 100%;
                margin: 0 auto;
                margin-top: 8rem;
                text-align: center;
            }
        }

        .contactMain {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 3rem;
            margin-left: 0;

            .contactInfo {
                text-align: center;
                padding-top: 3rem;

                ul {
                    justify-content: center;
                    padding-left: 0.7rem;
                }
            }

            .contactUsForm {
                bottom: 0;
                left: 0;
                width: 70%;

                input {
                    width: 100%;
                    margin-left: 0;
                }

                input[type='name'] {
                    margin-bottom: 1.5rem;
                }

                textarea {
                    margin-top: 1rem;
                }
            }
        }
    }
}

//650px
@media #{$largePhone} {
    body {
        .contactMain {
            .contactUsForm {
                width: 100%;
                margin: 0;
                box-shadow: 0 0 0 0;
                border-top: 10px solid $colorYellow;
                border-bottom: 10px solid $colorYellow;
            }
        }
    }
}

//500px
@media #{$medPhone} {

    .contactUsForm {
        box-shadow: 0 0 0 0;
        border-top: 10px solid $colorYellow;
        border-bottom: 10px solid $colorYellow;

        .contactForm {

            .contactFormInput {
                @include displayFlex (column, flex-start, center);

                input[type='name'],
                input[type='email'] {
                    width: 100%;

                }
            }
        }
    }
}