.contactHeader {
    background-image: url('./../../plantedFinalAssets/contactHeader1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    min-height: 500px;


    .contactHeaderTitle {
        display: flex;
        width: 18%;
        margin: 10rem 0 0 7rem;

        h1 {
            @include headerTitleStyle;

        }
    }
}