// INDEX HEADER ANIMATION

@keyframes headerSlideInTop {
    0% {
        right: -1000px;
        opacity: 0;
    }

    50% {
        opacity: 1;

    }

    100% {
        right: 0;

    }
}

//MOBILE HAMBURGER NAV
@keyframes moveLeft {
    0% {
        transform: translate(800px, -800px) scale(2);
        opacity: 0;
        background-image: transparent;
    }

    100% {
        transform: translate(0px, 0px) scale(1);
        opacity: 1;
        background-image: linear-gradient(to right top, rgba(7, 65, 21, 0.8), rgba(8, 79, 26, 0.8), rgba(9, 93, 30, 0.8), rgba(10, 108, 35, 0.8), rgba(11, 123, 39, 0.8), rgba(41, 138, 40, 0.8), rgba(63, 153, 39, 0.8), rgba(85, 168, 38, 0.8), rgba(125, 185, 31, 0.8), rgba(165, 201, 25, 0.8), rgba(205, 217, 22, 0.8), rgba(248, 231, 28, 0.8));

    }
}

