html {
    font-size: 125%;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: $colorWhite;
}

li {
    list-style: none;
}


//GLOBAL STYLES FOR ACCESSIBILITY PARTIALLY
a {
    text-decoration: none;

    &:focus {
        border: 3px solid $colorBlack;

    }
}

button {

    &:focus {
        border: 3px solid $colorBlack;
    }
}

.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    @include fontSize(2rem);
    font-family: $primaryFont;
    padding: .5rem;
    text-decoration: none;

    &:focus {
        left: 50%;
        transform: translate(-50%);
        border: 2px solid $colorDarkGreen;

    }
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}

//GLOBALS

.bold {
    font-weight: 600;
}

img {
    display: block;
}