//ACCESSIBILITY
a{
    
    &:focus {
         border: 3px solid $colorBlack;

     }
}

button{

    &:focus {
        border:3px solid $colorBlack !important;
    }
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}
//GLOBALS

.bold {
    font-weight:600;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    max-width:1600px;
    margin:0 auto;
}

html{
    font-size:125%;
}

img{
    display:block;
}

