.headerNav,
.blogNav,
.contactNav {
    color: $colorWhite;

    .navContent {
        @include displayFlex(row, flex-start, space-evenly);
        margin-left: 7rem;

        h2 {
            font-family: $primaryFont;
            @include fontWeight(300);
            @include fontSize(2.5rem);
            letter-spacing: 1.1px;
            margin:1rem 0 1rem 0;

        }
    }
}



.mainNav ul {
    @include displayFlex(row, flex-start, center);

    li {
        padding: 10px 0.5rem;

        &:hover a::before,
        &:hover a::after {
            width: 50%;
        }

        &:hover a::before {
            margin-bottom: 6px;
            opacity: 1;
            left: 0;

        }

        &:hover a::after {
            opacity: 1;
            margin-top: 6px;
            left: 50%;
        }

        a {
            position: relative;
            color: $colorWhite;
            @include fontWeight(400);
            text-transform: uppercase;
            font-family: $primaryFont;
            transition: .5s all ease;
            background-color: transparent;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 35px;
                left: 50%;
                width: 50%;
                height: 2px;
                margin: 0;
                opacity: 0;
                background-color: $colorYellow;
                transition: .2s linear all;

            }

            &:after {
                content: '';
                display: inline-block;
                width: 50%;
                position: absolute;
                top: 30px;
                left: -3%;
                margin: 0;
                height: 2px;
                opacity: 0;
                background-color: $colorYellow;
                transition: .2s linear all;
            }

            &.active {
                color: $colorYellow;

            }

            &:focus {
                font-size: 1.3rem;
                border: $colorWhite 2px solid;
            }
        }
    }
}

.blogNav,
.contactNav {
    background-color: $colorBlack;
}

.mainHeader,
.blogHeader,
.contactHeader {

    .navigation {
        display: none;

        .navCheckbox {
            opacity: 0;

            &:focus+.navButton {
                border: $colorDarkGreen 4px solid;
            }
        }
    }
}

.navButton {
    position: fixed;
    top: -35px;
    right: 0;
    height: 6.32rem;
    width: 6rem;
    border-radius: 0 0 0 50%;
    z-index: 2000;
    background-color: $colorYellow;
    box-shadow: 0 .5rem 1rem rgba(79, 79, 79, 0.6);
    color: white;
    text-align: center;
    cursor: pointer;
}

.mobileNavContent {
    background: none;
    height: 90vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
}

.navList {
    width: 100%;
    position: absolute;
    top: 11%;
    text-align: center;

    .navItem {
        margin: .5rem;

        a {
            background-color: transparent;

        }
    }
}

// text styles
.navLink {

    &:link,
    &:visited {
        display: inline-block;
        font-family: $primaryFont;
        padding: 1rem 1rem;
        @include fontSize(1rem);
        @include fontWeight(300);
        color: $colorWhite;
        text-transform: uppercase;
        transition: all .3s;
    }

    &:hover,
    &:active {
        background-position: 100%;
        color: $colorDarkGreen;
        transform: translateY(1rem);
        background: rgba($colorYellow, .5);
        @include fontSize(1.5rem);
    }
}

//FUNCTIONALITY
//Content displays within the mobile nav

.navCheckbox:checked~.mobileNavContent {
    opacity: 1;
    width: 100%;
    display: block;
    background-image: linear-gradient(to right top, rgba(7, 65, 21, 0.8), rgba(8, 79, 26, 0.8), rgba(9, 93, 30, 0.8), rgba(10, 108, 35, 0.8), rgba(11, 123, 39, 0.8), rgba(41, 138, 40, 0.8), rgba(63, 153, 39, 0.8), rgba(85, 168, 38, 0.8), rgba(125, 185, 31, 0.8), rgba(165, 201, 25, 0.8), rgba(205, 217, 22, 0.8), rgba(248, 231, 28, 0.8));
    border-bottom-left-radius: 100%;
    animation: moveLeft ease 1s;
}

.navCheckbox~.mobileNavContent {
    animation:moveRight linear 1s;
}


//ICON
.navIcon {
    position: relative;
    margin-top: 3.75rem;

    &,
    &::before,
    &::after {
        width: 2rem;
        height: 2px;
        background-color: $colorDarkGreen;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before {
        content: '';
        top: -.8rem;
        transform: rotate(180deg);
        transform: rotate(-180deg);
    }

    &::after {
        top: .8rem;
        transform: rotate(-180deg)
    }
}

//INITIAL HOVER TRANSITION
.navButton:hover .navIcon::before {
    left: -.5rem;

}

//INITIAL HOVER TRANSITION
.navButton:hover .navIcon::after {
    left: .5rem;
}


.navCheckbox:checked+.navButton .navIcon {
    background-color: transparent;
}

//On click transition
.navCheckbox:checked+.navButton .navIcon::before {
    top: 0;
    transform: rotate(495deg);
    display: inline-block;

}

//On click transition
.navCheckbox:checked+.navButton .navIcon::after {
    top: 0;
    transform: rotate(-495deg);
    display: inline-block;
}


//Used for yellow header on page user is on
.active {
    color: $colorYellow;
}

