 //QUERIES

 //1600px
 @media #{$largeDesktop} {}

 //1440px
 @media #{$medDesktop} {}

 //1250px
 @media #{$smallDesktop} {}

 //1000px
 @media #{$largeTablet} {}

 //850px
 @media #{$medTablet} {}

 //750px
 @media #{$smallTablet} {
     .headerNav,
     .blogNav,
     .contactNav {
         
         .navContent {
             margin-left: 2rem;
             
            .navigation {
                display:block;

                .mobileNavContent{
                   
                   ul{
                       @include displayFlex (column, flex-start, center)
                   }
                }
            }

            .mainNav {
                display:none;
            }
        }
    }
 }

 //650px
 @media #{$largePhone} {
     .headerNav {
         .navContent {
          
             nav {
                 display: none;
             }
         }
    }
}

 //500px
 @media #{$medPhone} {}

 //400px
 @media #{$smallPhone} {}
