.headerNav,
.blogNav,
.contactNav{
    color:$colorWhite;
    
    .navContent{
        @include displayFlex(row, flex-start, space-evenly);
        margin-left:7rem;

        h2{
            font-weight:400;
            font-size:1.6rem;
            letter-spacing:1.1px;
        }

    ul{
        @include displayFlex(row, flex-start, center);

        li{
            list-style:none;
            padding:10px 1rem;

            a{
                color:$colorWhite;
                text-decoration:none;
                text-transform:uppercase;
                font-family:$primaryFont;

                &.active{
                    color: $colorYellow;

                }
            }
        }

    }
}
}

.blogNav,
.contactNav,{
    background-color: $colorBlack;
}

.mainHeader {
    .navigation {

        .navButton {
            width: 4rem;
            height:4rem;
            display:block;
            background-color:peru;
            border-radius:50%;
            position:relative;
            top:7%;
            left:93%;
          
            


        
        .navIcon {
            width: 2rem;
            height:2px;
            margin:20px;
            top:2rem;
            background-color:white;
            position:relative;
            margin:auto;
            
        

            &::before {
                content:'';
                width: 2rem;
                height:2px;
                background-color:white;
                display:block;
                position:absolute;
                top:8px;
            }

            &::after {
                content:'';
                 width: 2rem;
                 height:2px;
                 background-color:white;
                 
                 display:block;
                 position:absolute;
                 bottom:8px;
            }
        }
    }
    }
}