 //QUERIES

 //1000px

 @media #{$largeTablet} {

     .headerNav,
     .blogNav,
     .contactNav {

         .navContent {
             margin-left: 4rem;

         }
     }
 }

 //850px 
 @media #{$medTablet} {

     .headerNav,
     .blogNav,
     .contactNav {

         .navContent {
             margin-left: 1.5rem;

         }

     }
 }


 //750px
 @media #{$smallTablet} {

     .headerNav,
     .blogNav,
     .contactNav {

         .navContent {
             margin-left: 2rem;
         }
     }

     .headerNav .navigation,
     .contactNav .navigation,
     .blogNav .navigation {
         display: block;

         .mobileNavContent {
             height: 100vh;

             ul {
                 @include displayFlex (column, flex-start, center);
             }
         }
     }

     .mobileNavContent li {
         li {
             font-size: .7rem;

             &:hover,
             &:active {
                 font-size: 1rem;
             }
         }
     }


     .mainNav {
         display: none;
     }
 }


 //650px
 @media #{$largePhone} {
     .headerNav {
         .navContent {

             nav {
                 display: none;
             }
         }
     }
 }

 @media #{$smallPhone} {

     .contactHeader,
     .blogHeader,
     .mainHeader {

         .navigation {


             .navList {
                 top: 5rem;
                 @include fontSize(.8rem);

                 &:hover,
                 &:active {
                     @include fontSize(1rem);

                 }
             }

             .navCheckbox:checked~.mobileNavContent {
                 border-radius: 0;
             }
         }
     }
 }