// COLOUR VARIABLES:

$colorBlack: rgba(44, 44, 44, 1); //#2C2C2C
$colorWhite: rgba(240, 239, 237, 1); //#F0EFED
$colorGrey: rgba(79, 79, 79, 1); //#4F4F4F
$colorYellow: rgba(248, 231, 28, 1); //#F8E71C
$colorLightGreen:rgba(14, 144, 45, 1); //#0E902D
$colorDarkGreen: rgba(7, 65, 21, 1); //#074115

//FONT VARIABLES:
$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

//MIXIN
@mixin mainButton {
    font-family: $primaryFont;
    font-weight: 600;
    @include fontSize(1rem);
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: $colorWhite;
    background-color: $colorLightGreen;
    padding: .6rem 1rem;
}

//h1 BLOG, CONTACT  STYLES
@mixin headerTitleStyle {
    color:$colorYellow;
    font-family:$primaryFont;
    @include fontSize(3.75rem);
    letter-spacing: 1.3px;
    @include fontWeight(600);
    line-height:4.5rem;
}


// p STYLES
@mixin bodyText {
    font-family: $secondaryFont;
    @include fontSize(1rem);
    line-height:1.5rem;
    @include fontWeight(400);
    letter-spacing:1px;
}

//h3 STYLES 
@mixin indexHeadingText {
    font-family:$primaryFont;
    @include fontWeight(600);
    @include fontSize(3rem);
    letter-spacing: 1.3px;
}


@mixin subHeadingText {
     font-family: $primaryFont;
     @include fontWeight(600);
     @include fontSize(2rem);
     letter-spacing: 1px;
     padding: 0;
     margin: 0;
}

//h5 STYLES
@mixin sectionTitle {
    font-family: $primaryFont;
    @include fontWeight(600);
    @include fontSize(1.5rem);
    letter-spacing:1px;
    padding:0;
    margin:0;
}

//LINKICON STYLES
@mixin linkIcon {
     margin-right:1rem;
     padding:.5rem;
     border-radius:100px;
     background-color:$colorYellow;
     height: 100px;
     width:100px;
}

//FORM STYLES

//TEXTAREA STYLE
@mixin textArea {
    @include fontSize(1rem);
    @include fontWeight(300);
    font-family:$primaryFont;
    border:2px solid $colorLightGreen;
    width:100%;

}

@mixin inputFont{
    font-family:$primaryFont;
    @include fontWeight(300);
    @include fontSize(1rem);
    border:none;
    border-bottom:2px solid $colorLightGreen;
    padding-bottom:1rem;
}


//BUTTON STYLES
@mixin formButton {
    width:100%;
    border: none;
    margin-top:20px;
    background-color:$colorLightGreen;
    color:white;
    padding:10px;
    font-family:$primaryFont;
    @include fontWeight(600);
    @include fontSize(1rem);
    text-align:center;
    line-height: 1.5rem;
    letter-spacing:1px;
}

@mixin fontSize($size) {
    font-size: $size;
}


@mixin displayFlex($direction, $justify, $align){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin position($position, $top, $right, $bottom, $left) {
    position:$position;
    top:$top;
    right:$right;
    bottom:$bottom;
    left: $left;
}

@mixin fontWeight($fontWeight){
    font-weight:$fontWeight;
}

//MEDIA QUERIES

$largeDesktop: 'only screen and (max-width: 1600px)';

$medDesktop: 'only screen and (max-width:1440px)';

$smallDesktop: 'only screen and (max-width:1250px)';

$largeTablet: 'only screen and (max-width: 1000px)';

$medTablet: 'only screen and (max-width: 850px)';

$smallTablet: 'only screen and (max-width:750px)';

$largePhone: 'only screen and (max-width:650px)';

$medPhone: 'only screen and (max-width:500px)';

$smallPhone: "only screen and (max-width:400px)";

//QUERIES

//1600px
// @media #{$largeDesktop} {}

// //1440px
// @media #{$medDesktop} {}

// //1250px
// @media #{$smallDesktop} {}

// //1000px
// @media #{$largeTablet} {}

// //850px
// @media #{$medTablet} {}

// //750px
// @media #{$smallTablet} {}

// //650px
// @media #{$largePhone} {}

// //500px
// @media #{$medPhone} {}

// //400px
// @media #{$smallPhone} {}




