.blogHeader{
    height: 65vh;
    background-image:url('./../../planted-final-assets/blog-header-1.jpg');
    background-size:cover;

    .blogHeaderTitle{
        color:$colorYellow;
        font-family:$primaryFont;
        margin-top:14rem;
        margin-left: 7rem;
        
        h1{
            @include fontSize(3.75rem);
            
        }
    }

}

