.blogAside{
    width: 35%;
    position:relative;
    margin-top:10rem;
    font-family:$primaryFont;
    z-index:10;

    img{
        z-index: 20;
        width:90%;
    }

    .blogAsideInfo{
        margin-left:6rem;
        height:48.5rem;
        width: 75%;
        position:absolute;
        top:10px;
        padding-top:10rem;
        z-index:-1;
        background-color:#ffffff;

        .blogAsideInfoTop{
            padding-top:17rem;
        }
    }
}