.blogAside {
    width: 35%;
    position: relative;
    margin-top: 7rem;
    z-index: 10;

    img {
        z-index: 20;
        width: 90%;
    }

    .blogAsideInfo {
        margin-left: 6rem;
        height: 41rem;
        width: 75%;
        position: absolute;
        top: 15px;
        right: 35px;
        z-index: -1;
        background-color: #ffffff;
        padding: 10rem 1rem 0 1rem;

        h4 {
            @include sectionTitle;
        }

        .blogAsideInfoTop {
            padding-top: 10rem;

            p {
                @include bodyText;
            }

            a {
                @include bodyText;
                color: $colorDarkGreen;
                @include fontWeight(600);
                font-style: italic;
                text-decoration: none;
            }

        }
    }

    .blogAsideInfoBottom {
        ul {
            list-style: none;
            padding-left: 15px;

            li {
                @include bodyText;


                &:before {
                    content: '';
                    background-color: $colorLightGreen;
                    border-radius: 50%;
                    @include fontWeight(300);
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    margin-right: 15px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}