.blogAside {
    width: 35%;
    position: relative;
    margin-top: 7rem;
    z-index: 10;

    img {
        width: 90%;
        z-index: 20;
    }
}

.blogAsideInfo {
    height: 41rem;
    width: 75%;
    position: absolute;
    top: 15px;
    right: 35px;
    margin-left: 6rem;
    padding: 10rem 1rem 0 1rem;
    z-index: -1;
    background-color: #ffffff;

    h4 {
        @include sectionTitle;
    }
}

.blogAsideInfoTop {
    padding-top: 10rem;

    p {
        @include bodyText;
    }

    a {
        @include bodyText;
        color: $colorDarkGreen;
        @include fontWeight(600);
        font-style: italic;
        background-color:transparent;
        padding:0;
        margin:0;
    }
}

.blogAsideInfoBottom ul{

    padding-left: 15px;

    li {
        @include bodyText;

        &:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 15px 5px 0;
            border-radius: 50%;
            background-color: $colorLightGreen;
            @include fontWeight(300);
        }
    }
}
