
.commentsSection{
    position:relative;
    bottom:200px;
    margin-right:5rem;

    .comment1{
        @include displayFlex(row, flex-start, center);
    

        img {
            width: 20%;
        }

        .comment1Info{
            width:80%;
        }
    }
    .comment2{
        @include displayFlex(row, flex-start, flex-start);
        margin-top:15%;

        img {
            width:20%
        }

        .comment2Info{
            text-align:left;
            width:80%;
        }
    }
}
