.blogForm{
    @include displayFlex(column, flex-start, center);
    margin-right:5rem;
    margin-bottom:20px;
    position:relative;
    bottom:100px;
   
    .blogFormInput{
        @include displayFlex(row, flex-start,center);
        width:100%;
        
        input{
            width:49%;
            border:none;
            padding-bottom:1rem;
            background-color:$colorWhite;
            border-bottom:2px solid $colorLightGreen;
       }

       input[type='email'] {
           margin-left: 2%;
           font-family:$primaryFont;
           font-weight:300;
           @include fontSize(1rem);
       }

       input[type='name'] {
            margin-right: 2%;
            font-family:$primaryFont;
            font-weight:300;
            @include fontSize(1rem);
       }
       
    }
    textarea{
        width:100%;
        border:2px solid $colorLightGreen;
        background-color:$colorWhite;
        padding:35px;
        margin: 20px 0 20px 0;
        font-family:$primaryFont;
        font-weight:300;
        @include fontSize(1rem);
    
    }

    button{
        @include formButton;
    }
}