.blogMain {
    @include displayFlex(row, flex-start, flex-start);
    background-color: $colorWhite;
}

.blogMainRight {
    width: 65%;
    position: relative;

    .blogMission {
        width: 100%;
        @include displayFlex(column, flex-start, flex-start);
        position: relative;
        padding-left: 20px;


        img {
            width: 98.4%;
            position: relative;
            left: calc(100% - 98.4%);
            box-shadow: -15px 15px 0px 0px $colorYellow;
            bottom: 200px;

        }

        .blogPost {
            position: relative;
            bottom: 300px;
            margin-right: 5rem;
            padding: 8.5rem 0 2.5rem 3rem;
            border-bottom: 5px solid $colorYellow;
            border-left: 5px solid $colorYellow;
        }
    }
}

.blogTitle {

    h3 {
        @include subHeadingText;
        letter-spacing: 1.3px;
    }

    p {
        @include bodyText;
        font-style: italic;
        color: $colorDarkGreen;
    }
}

.blogPost {

    p {
        @include bodyText;
    }

    .toggleReadMore {
        display: none;
        @include mainButton;

        &:hover {
            @include buttonHover;
        }

        &:active {
            @include buttonActive;
        }
    }
}