.commentsSection {
    position: relative;
    bottom: 11rem;
    margin-right: 5rem;


    h4 {
        @include sectionTitle;
        padding-bottom: 1.5rem;

    }

    .comment1 {
        @include displayFlex(row, flex-start, center);


        img {
            width: 30%;
            margin-right: 2rem;
        }

        .comment1Info {
            width: 70%;

            .bold {
                font-family: $primaryFont;
                @include fontWeight(600);
                color:$colorDarkGreen;
            }

            p {
                @include bodyText;
            }
        }
    }

    .comment2 {
        @include displayFlex(row, flex-start, center);
        margin-top: 4rem;


        img {
            width: 30%;
            margin-right: 4rem;
        }

        .comment2Info {
            text-align: left;
            width: 70%;

            .bold {
                font-family: $primaryFont;
                @include fontWeight(600);
                color:$colorDarkGreen;
            }

            p {
                @include bodyText;
            }
        }
    }
}