// <form action="#"class="blogForm">
//<label for="blogUserName"class='visuallyHidden'></label>
    //<input type="name"name='name'placeholder='Name'id='blogUserName'>
    //<label for="blogEmail"class='visuallyHidden'></label>
    //<input type="email"name="email"id="blogEmail">
    //<textarea name="userComments"id="userComments"cols="100"rows="10"placeholder='Comment'></textarea>
//</form>

.blogForm{
    @include displayFlex(column, flex-start, center);
    margin-right:5rem;
    margin-bottom:20px;
    position:relative;
    bottom:100px;
   
    .blogFormInput{
        @include displayFlex(row, flex-start,center);
        width:100%;
        
        input{
            width:49%;
            border:none;
            padding-bottom:1rem;
            background-color:$colorWhite;
            border-bottom:2px solid $colorLightGreen;
       }

       input[type='email'] {
           margin-left: 2%;
           font-family:$primaryFont;
           font-weight:300;
           @include fontSize(1rem);
       }

       input[type='name'] {
            margin-right: 2%;
            font-family:$primaryFont;
            font-weight:300;
            @include fontSize(1rem);
       }
       
    }
    textarea{
        width:100%;
        border:2px solid $colorLightGreen;
        background-color:$colorWhite;
        padding:35px;
        margin: 20px 0 20px 0;
        font-family:$primaryFont;
        font-weight:300;
        @include fontSize(1rem);
    
    }

    button{
        width:100%;
        border: none;
        margin-top:20px;
        background-color:$colorLightGreen;
        color:white;
        padding:10px;
        font-family:$primaryFont;
        font-weight:600;
        @include fontSize(1rem);
        text-align:center;
        line-height: 1.5rem;
        letter-spacing:1px;
    }
}