@media #{$xlLargeDesktop} {
    .blogAside {
        .blogAsideInfo {
            .blogAsideInfoTop {
                padding-top: 12rem;
            }
        }
    }
}

//1600px
@media #{$largeDesktop} {

    .blogHeader {

        .blogHeaderTitle {
            margin-left: 10rem;
        }
    }

    .blogAside {
        .blogAsideInfo {
            .blogAsideInfoTop {
                padding-top: 11rem;
            }
        }
    }
}



//1440px
@media #{$medDesktop} {
    .blogHeader {
    
        .blogHeaderTitle {
            margin-left: 7rem;
        }
    }
    
}

//1250px
@media #{$smallDesktop} {


    .blogAside {
        margin-left: 2rem;

        img {
            width: 100%;
        }

        .blogAsideInfo {
            margin-left: 0;
            width: 100%;
            right: 0;
            margin-top: 3rem;

            .blogAsideInfoTop {
                padding-top: 6rem;
            }
        }
    }
}

//1000px
@media #{$largeTablet} {

    .blogAside {


        .blogAsideInfo {
            margin-top: 1rem;
            height:43rem;
        }
    }

    .blogMainRight {

        .blogMission {

            .blogPost {
                padding-top: 7rem;
                margin-right: 3rem;

            }
        }
    }
}


//850px
@media #{$medTablet} {

    .blogHeader {

        .blogHeaderTitle {
            text-align: center;
            margin: 0;
            margin-top: 8rem;
        }
    }

    .blogAside {

        .blogAsideInfo {

            .blogAsideInfoTop {
                padding-top: 2rem;

            }
        }
    }
}

//750px
@media #{$smallTablet} {

    .blogMain {
        @include displayFlex (column, flex-start, flex-start);
        margin-bottom: 2rem;

        .blogAside {
            @include displayFlex (column, flex-start, center);
            position: static;
            width: 100%;
            background-color: white;
            margin: 0 auto;
            margin-left: 0;
            padding: 5rem 0 3.5rem 0;

            img {
                width: 80%;

            }

            .blogAsideInfo {
                position: static;
                padding-top: 3rem;
                width: 80%;
                height: auto;
                margin-left: 0;
                @include displayFlex (column, flex-start, flex-start);

                .blogAsideInfoTop {
                    padding-top: 0rem;
                }
            }
        }

        .blogMainRight {
            width: 100%;

            .blogMission {
                padding-left: 0;

                img {
                    position: static;
                    width: 100%;
                    border-bottom: 10px solid $colorYellow;
                    box-shadow: 0 0 0 0;
                }

                .blogPost {
                    position: static;
                    padding-top: 3.5rem;
                    margin-right:1.5rem;

                    .hideTheWords {
                        display: none;
                        margin-top: .5rem;
                    }

                    .toggleReadMore {
                        @include mainButton;
                        display: block;
                    }

                }
            }
        }
    }

    .commentsSection {
        position: static;
        margin: 2rem;
        padding-top: 1.5rem;


        h4 {
            padding-bottom: 1rem;
        }

        .comment2 {
            margin-top: 6%;

            img {
                margin: 0 auto;
                margin-top: 2rem;
                margin-right: 2rem;
            }
        }
    }

    .blogForm {
        position: static;
        margin: 1.5rem 2rem 2rem 2rem;

        .blogFormInput {
            @include displayFlex(column, center, center);

            input[type='name'],
            input[type='email'] {
                width: 100%;
                margin: 1rem 0;
                padding: 1rem 0;
            }
        }
    }
}

//650px
@media #{$largePhone} {
    .blogMain {

        .blogMainRight {

            .commentsSection {

                .comment1 {
                    @include displayFlex (column, flex-start, center);

                    img {
                        width: 37%;
                        margin: .5rem 0;
                    }

                    .comment1Info {
                        width: 90%;
                    }
                }

                .comment2 {
                    @include displayFlex (column, flex-start, center);

                    img {
                        width: 37%;
                        margin: 1rem 0;

                    }

                    .comment2Info {
                        width: 90%;
                    }
                }
            }
        }
    }
}

//500px
@media #{$medPhone} {
    .blogForm {
        margin: 0 2rem;
    }
}

//400px
@media #{$smallPhone} {
.blogMain{
     .blogMainRight{
         .commentsSection{
            .comment1{

                 img{
                     width:80%;
                 }

            }
         }
     }  
} 
}