.blogForm{
    @include displayFlex(column, flex-start, center);
    margin: 0 5rem 20px 0;
    position:relative;
    bottom:100px;
   
    .blogFormInput{
        @include displayFlex(row, flex-start,center);
        width:100%;
        
        input{
            width:49%;
            padding-bottom:1rem;
            
       }

       input[type='email'] {
           margin-left: 2%;
           @include inputFont;
           background-color:$colorWhite;
       }

       input[type='name'] {
            margin-right: 2%;
            @include inputFont;
            background-color:$colorWhite;
       }
       
    }
    textarea{
        margin: 20px 0 20px 0;
        padding:35px;
        @include textArea;
        background-color:$colorWhite;
    }

    button{
        @include formButton;
    }
}