
.commentsSection{
    position:relative;
    bottom:270px;
    margin-right:5rem;

    h4{
        font-family: $primaryFont;
        font-size:1.6rem;
    }

    .comment1{
        @include displayFlex(row, flex-start, center);
    

        img {
            width: 20%;
            margin-right:2rem;
        }

        .comment1Info{
            width:80%;

            .bold {
                font-family:$primaryFont;
                font-weight:600;
            }

            p{
                font-family:$secondaryFont;
                @include fontWeight(400);
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
    .comment2{
        @include displayFlex(row, flex-start, flex-start);
        margin-top:15%;

        img {
            width:20%;
            margin-right:2rem;
        }

        .comment2Info{
            text-align:left;
            width:80%;

            .bold {
                font-family: $primaryFont;
                font-weight: 600;
            }

            p {
                font-family: $secondaryFont;
                @include fontWeight(400);
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
}
