article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus {
  border: 3px solid #2c2c2c;
}

button:focus {
  border: 3px solid #2c2c2c !important;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.bold {
  font-weight: 600;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

img {
  display: block;
}

body.scrollUp {
  opacity: 0;
  -webkit-transform: translateY(600px);
          transform: translateY(600px);
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: none;
  transition: none;
}

body {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

.headerNav,
.blogNav,
.contactNav {
  color: #f0efed;
}

.headerNav .navContent,
.blogNav .navContent,
.contactNav .navContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  margin-left: 7rem;
}

.headerNav .navContent h2,
.blogNav .navContent h2,
.contactNav .navContent h2 {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1.1px;
}

.headerNav .navContent ul,
.blogNav .navContent ul,
.contactNav .navContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerNav .navContent ul li,
.blogNav .navContent ul li,
.contactNav .navContent ul li {
  list-style: none;
  padding: 10px 1rem;
}

.headerNav .navContent ul li a,
.blogNav .navContent ul li a,
.contactNav .navContent ul li a {
  color: #f0efed;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.headerNav .navContent ul li a.active,
.blogNav .navContent ul li a.active,
.contactNav .navContent ul li a.active {
  color: #f8e71c;
}

.headerNav .navContent ul li a:focus,
.blogNav .navContent ul li a:focus,
.contactNav .navContent ul li a:focus {
  font-size: 1.3rem;
  border: #f0efed 2px solid;
}

.blogNav,
.contactNav {
  background-color: #2c2c2c;
}

.mainHeader .navigation,
.blogHeader .navigation,
.contactHeader .navigation {
  display: none;
}

.mainHeader .navigation .navCheckbox,
.blogHeader .navigation .navCheckbox,
.contactHeader .navigation .navCheckbox {
  opacity: 0;
}

.mainHeader .navigation .navCheckbox:focus + .navButton,
.blogHeader .navigation .navCheckbox:focus + .navButton,
.contactHeader .navigation .navCheckbox:focus + .navButton {
  border: #074115 4px solid;
}

.mainHeader .navigation .navButton,
.blogHeader .navigation .navButton,
.contactHeader .navigation .navButton {
  position: fixed;
  background-color: #f8e71c;
  color: white;
  height: 6rem;
  width: 6rem;
  border-radius: 0 0 0 50%;
  top: -35px;
  right: 0;
  z-index: 2000;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(79, 79, 79, 0.6);
          box-shadow: 0 0.5rem 1rem rgba(79, 79, 79, 0.6);
  text-align: center;
  cursor: pointer;
}

.mainHeader .navigation .mobileNavContent,
.blogHeader .navigation .mobileNavContent,
.contactHeader .navigation .mobileNavContent {
  height: 90vh;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
  background: none;
}

.mainHeader .navigation .navList,
.blogHeader .navigation .navList,
.contactHeader .navigation .navList {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  top: 35%;
}

.mainHeader .navigation .navItem,
.blogHeader .navigation .navItem,
.contactHeader .navigation .navItem {
  margin: .5rem;
}

.mainHeader .navigation .navLink:link, .mainHeader .navigation .navLink:visited,
.blogHeader .navigation .navLink:link,
.blogHeader .navigation .navLink:visited,
.contactHeader .navigation .navLink:link,
.contactHeader .navigation .navLink:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 1rem;
  color: #f0efed;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mainHeader .navigation .navLink:hover, .mainHeader .navigation .navLink:active,
.blogHeader .navigation .navLink:hover,
.blogHeader .navigation .navLink:active,
.contactHeader .navigation .navLink:hover,
.contactHeader .navigation .navLink:active {
  background-position: 100%;
  color: #4f4f4f;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  background: rgba(240, 239, 237, 0.5);
  font-size: 1.5rem;
}

.mainHeader .navigation .navCheckbox:checked ~ .mobileNavContent,
.blogHeader .navigation .navCheckbox:checked ~ .mobileNavContent,
.contactHeader .navigation .navCheckbox:checked ~ .mobileNavContent {
  opacity: 1;
  width: 100%;
  display: block;
  -webkit-animation: moveLeft ease 1s;
          animation: moveLeft ease 1s;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(5%, rgba(248, 231, 28, 0.9)), color-stop(30%, rgba(14, 144, 45, 0.8)), to(rgba(7, 65, 21, 0.8)));
  background: linear-gradient(to bottom left, rgba(248, 231, 28, 0.9) 5%, rgba(14, 144, 45, 0.8) 30%, rgba(7, 65, 21, 0.8) 100%);
  border-bottom-left-radius: 100%;
}

.mainHeader .navigation .navCheckbox ~ .mobileNavContent,
.blogHeader .navigation .navCheckbox ~ .mobileNavContent,
.contactHeader .navigation .navCheckbox ~ .mobileNavContent {
  -webkit-animation: moveLeft linear 1s;
          animation: moveLeft linear 1s;
}

.mainHeader .navigation .navCheckbox:not(:checked) ~ .mobileNavContent,
.blogHeader .navigation .navCheckbox:not(:checked) ~ .mobileNavContent,
.contactHeader .navigation .navCheckbox:not(:checked) ~ .mobileNavContent {
  -webkit-animation: moveRight linear 1s;
          animation: moveRight linear 1s;
}

.mainHeader .navigation .navIcon,
.blogHeader .navigation .navIcon,
.contactHeader .navigation .navIcon {
  position: relative;
  margin-top: 3.75rem;
}

.mainHeader .navigation .navIcon, .mainHeader .navigation .navIcon::before, .mainHeader .navigation .navIcon::after,
.blogHeader .navigation .navIcon,
.blogHeader .navigation .navIcon::before,
.blogHeader .navigation .navIcon::after,
.contactHeader .navigation .navIcon,
.contactHeader .navigation .navIcon::before,
.contactHeader .navigation .navIcon::after {
  width: 2rem;
  height: 2px;
  background-color: #074115;
  display: inline-block;
}

.mainHeader .navigation .navIcon::before, .mainHeader .navigation .navIcon::after,
.blogHeader .navigation .navIcon::before,
.blogHeader .navigation .navIcon::after,
.contactHeader .navigation .navIcon::before,
.contactHeader .navigation .navIcon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.mainHeader .navigation .navIcon::before,
.blogHeader .navigation .navIcon::before,
.contactHeader .navigation .navIcon::before {
  content: '';
  top: -.8rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.mainHeader .navigation .navIcon::after,
.blogHeader .navigation .navIcon::after,
.contactHeader .navigation .navIcon::after {
  top: .8rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.mainHeader .navigation .navButton:hover .navIcon::before,
.blogHeader .navigation .navButton:hover .navIcon::before,
.contactHeader .navigation .navButton:hover .navIcon::before {
  left: -.5rem;
}

.mainHeader .navigation .navButton:hover .navIcon::after,
.blogHeader .navigation .navButton:hover .navIcon::after,
.contactHeader .navigation .navButton:hover .navIcon::after {
  left: .5rem;
}

.mainHeader .navigation .navCheckbox:checked + .navButton .navIcon,
.blogHeader .navigation .navCheckbox:checked + .navButton .navIcon,
.contactHeader .navigation .navCheckbox:checked + .navButton .navIcon {
  background-color: transparent;
}

.mainHeader .navigation .navCheckbox:checked + .navButton .navIcon::before,
.blogHeader .navigation .navCheckbox:checked + .navButton .navIcon::before,
.contactHeader .navigation .navCheckbox:checked + .navButton .navIcon::before {
  top: 0;
  -webkit-transform: rotate(495deg);
          transform: rotate(495deg);
  display: inline-block;
}

.mainHeader .navigation .navCheckbox:checked + .navButton .navIcon::after,
.blogHeader .navigation .navCheckbox:checked + .navButton .navIcon::after,
.contactHeader .navigation .navCheckbox:checked + .navButton .navIcon::after {
  top: 0;
  -webkit-transform: rotate(-495deg);
          transform: rotate(-495deg);
  display: inline-block;
}

.active {
  color: #f8e71c;
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translate(800px, -800px) scale(2);
            transform: translate(800px, -800px) scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translate(800px, -800px) scale(2);
            transform: translate(800px, -800px) scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(800px, -800px) scale(1);
            transform: translate(800px, -800px) scale(1);
    opacity: 0;
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(800px, -800px) scale(1);
            transform: translate(800px, -800px) scale(1);
    opacity: 0;
  }
}

footer {
  background-color: #2c2c2c;
  color: #f0efed;
  padding: 1px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.mainHeader {
  height: 100vh;
  background-image: url("../../planted-final-assets/home-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainHeader .mainTitle {
  padding-top: 12rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  line-height: 6rem;
}

.mainHeader .mainTitle h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #f0efed;
  font-size: 8rem;
  z-index: 10;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.mainHeader .mainTitle h1 .lowerTitle {
  color: #f8e71c;
}

.mainHeader .mainTitle::after {
  content: '';
  position: absolute;
  top: 235px;
  background-image: url("./../../planted-final-assets/header-box.jpg");
  background-size: cover;
  height: 80vh;
  width: 45.5%;
  right: 0;
}

.whatIsPlant {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c2c2c;
  margin: 3.5rem 0;
  padding: 3rem 0 3rem 0;
  background-color: #f0efed;
}

.whatIsPlant .whatIsPlantContent {
  width: 70%;
}

.whatIsPlant .whatIsPlantContent h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1.3px;
  margin: 0;
  padding: 0;
}

.whatIsPlant .whatIsPlantContent p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.whatIsPlant .whatIsPlantContent a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
}

.squareGallery {
  background-color: white;
  padding: 2rem 0;
}

.squareGallery .squareGalleryTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.squareGallery .squareGalleryTop .squareGalleryTopImage {
  width: 43%;
}

.squareGallery .squareGalleryTop .squareGalleryTopImage img {
  width: 100%;
  position: relative;
  bottom: 3.2rem;
  -webkit-box-shadow: 10px 10px 0px 0px #f8e71c;
  box-shadow: 10px 10px 0px 0px #f8e71c;
}

.squareGallery .squareGalleryTop .squareGalleryTopInfo {
  width: 43%;
  margin-left: 14.5%;
  margin-bottom: 1.9rem;
}

.squareGallery .squareGalleryTop .squareGalleryTopInfo h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.squareGallery .squareGalleryTop .squareGalleryTopInfo p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  margin-right: 4rem;
}

.squareGallery .squareGalleryBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.squareGallery .squareGalleryBottom .squareGalleryBottomInfo {
  width: 43%;
  text-align: right;
  margin-top: 1rem;
}

.squareGallery .squareGalleryBottom .squareGalleryBottomInfo h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.squareGallery .squareGalleryBottom .squareGalleryBottomInfo p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  margin-left: 4rem;
}

.squareGallery .squareGalleryBottom .squareGalleryBottomImage {
  width: 43%;
  margin-left: 10.5rem;
}

.squareGallery .squareGalleryBottom .squareGalleryBottomImage img {
  width: 100%;
  position: relative;
  top: 3.2rem;
  -webkit-box-shadow: -10px 10px 0px 0px #f8e71c;
  box-shadow: -10px 10px 0px 0px #f8e71c;
}

.squareGallery a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
}

.iconLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f0efed;
  margin: 5rem;
}

.iconLinks > div {
  padding: .3rem;
}

.iconLinks .greenHouses {
  width: 50%;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.iconLinks .greenHouses h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.iconLinks .greenHouses h5:before {
  content: '\f06c';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
}

.iconLinks .greenHouses p {
  margin-left: 3.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.iconLinks .community {
  width: 50%;
}

.iconLinks .community h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.iconLinks .community h5:before {
  content: '\f0c0';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
  margin-right: 19px;
}

.iconLinks .community p {
  margin-left: 3.9rem;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.iconLinks .blog {
  width: 50%;
}

.iconLinks .blog h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.iconLinks .blog h5:before {
  content: '\f15b';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
}

.iconLinks .blog p {
  margin-left: 3.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.iconLinks .getInTouch {
  width: 50%;
  padding-left: .5rem;
}

.iconLinks .getInTouch h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.iconLinks .getInTouch h5:before {
  content: '\f095';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
}

.iconLinks .getInTouch p {
  margin-left: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.banner {
  width: 100%;
  height: 60vh;
  background-image: url("../../planted-final-assets/banner-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0efed;
  padding: 4rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.founder .founderContent {
  width: 70%;
  padding-left: 7rem;
}

.founder .founderContent h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  margin-top: 1.3rem;
}

.founder .founderContent p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: .5rem;
}

.founder .founderContent a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
  margin-top: 1rem;
}

.founder img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 0px 0px #f8e71c;
  box-shadow: 10px 10px 0px 0px #f8e71c;
}

.endGallery {
  background-color: white;
}

.endGallery .galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.endGallery .galleryContent img {
  width: 33.3%;
  margin: 1rem;
  -webkit-transition: .7s all ease;
  transition: .7s all ease;
}

.endGallery .galleryContent img:first-child {
  margin-left: 0;
}

.endGallery .galleryContent img:last-child {
  margin-right: 0;
}

.endGallery .galleryContent img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 10px 10px 66px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.blogHeader {
  height: 65vh;
  background-image: url("./../../planted-final-assets/blog-header-1.jpg");
  background-size: cover;
}

.blogHeader .blogHeaderTitle {
  margin-top: 14rem;
  margin-left: 7rem;
}

.blogHeader .blogHeaderTitle h1 {
  color: #f8e71c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.75rem;
  letter-spacing: 1.3px;
  font-weight: 600;
  line-height: 4.5rem;
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f0efed;
}

.blogMainRight {
  width: 65%;
  position: relative;
}

.blogMainRight .blogMission {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  position: relative;
}

.blogMainRight .blogMission img {
  position: relative;
  width: 99%;
  left: calc(100% - 99%);
  -webkit-box-shadow: -10px 10px 0px 0px #f8e71c;
  box-shadow: -10px 10px 0px 0px #f8e71c;
  bottom: 200px;
}

.blogMainRight .blogMission .blogPost {
  border-bottom: 2px solid #f8e71c;
  border-left: 2px solid #f8e71c;
  margin-right: 5rem;
  padding: 8.5rem 0 2.5rem 3rem;
  position: relative;
  bottom: 300px;
}

.blogMainRight .blogMission .blogPost .blogTitle h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.blogMainRight .blogMission .blogPost .blogTitle p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
}

.blogMainRight .blogMission .blogPost p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogMainRight .blogMission .toggleReadMore {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
  display: none;
}

.blogAside {
  width: 35%;
  position: relative;
  margin-top: 7rem;
  z-index: 10;
}

.blogAside img {
  z-index: 20;
  width: 90%;
}

.blogAside .blogAsideInfo {
  margin-left: 6rem;
  height: 40rem;
  width: 75%;
  position: absolute;
  top: 15px;
  right: 35px;
  z-index: -1;
  background-color: #ffffff;
  padding: 10rem 1rem 0 1rem;
}

.blogAside .blogAsideInfo h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.blogAside .blogAsideInfo .blogAsideInfoTop {
  padding-top: 10rem;
}

.blogAside .blogAsideInfo .blogAsideInfoTop p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogAside .blogAsideInfo .blogAsideInfoTop a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}

.blogAside .blogAsideInfo .blogAsideInfoBottom li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.commentsSection {
  position: relative;
  bottom: 11rem;
  margin-right: 5rem;
}

.commentsSection h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  padding-bottom: 1.5rem;
}

.commentsSection .comment1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commentsSection .comment1 img {
  width: 30%;
  margin-right: 2rem;
}

.commentsSection .comment1 .comment1Info {
  width: 70%;
}

.commentsSection .comment1 .comment1Info .bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.commentsSection .comment1 .comment1Info p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.commentsSection .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4rem;
}

.commentsSection .comment2 img {
  width: 30%;
  margin-right: 4rem;
}

.commentsSection .comment2 .comment2Info {
  text-align: left;
  width: 70%;
}

.commentsSection .comment2 .comment2Info .bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.commentsSection .comment2 .comment2Info p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem 20px 0;
  position: relative;
  bottom: 6rem;
}

.blogForm .blogFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.blogForm .blogFormInput input {
  width: 49%;
  padding-bottom: .5rem;
}

.blogForm .blogFormInput input[type='email'] {
  margin: 0 0 1rem 2%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #0e902d;
  padding-bottom: 1rem;
  background-color: #f0efed;
}

.blogForm .blogFormInput input[type='name'] {
  margin: 0 2% 1rem 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #0e902d;
  padding-bottom: 1rem;
  background-color: #f0efed;
}

.blogForm textarea {
  margin: 1rem 0;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #0e902d;
  width: 100%;
  background-color: #f0efed;
}

.blogForm button {
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: #0e902d;
  color: white;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.contactHeader {
  background-image: url("./../../planted-final-assets/contact-header-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
}

.contactHeader .contactHeaderTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  margin-top: 10rem;
  margin-left: 7rem;
}

.contactHeader .contactHeaderTitle h1 {
  color: #f8e71c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.75rem;
  letter-spacing: 1.3px;
  font-weight: 600;
  line-height: 4.5rem;
}

.contactUsForm {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 200px;
  left: 140px;
  margin: 0;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: -11px 10px 0px 0px #f8e71c;
  box-shadow: -11px 10px 0px 0px #f8e71c;
}

.contactUsForm .contactForm {
  width: 80%;
}

.contactUsForm .contactForm .contactFormInput {
  width: 100%;
}

.contactUsForm .contactForm input[type='email'],
.contactUsForm .contactForm input[type='name'] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #0e902d;
  padding-bottom: 1rem;
  width: calc(50% - 3%);
  margin: 2rem 0 1rem 0;
  padding-bottom: 0.5rem;
}

.contactUsForm .contactForm input[type='email'] {
  margin-left: 2%;
}

.contactUsForm .contactForm input[type='name'] {
  margin-right: 2%;
}

.contactUsForm .contactForm textarea {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #0e902d;
  width: 100%;
  height: 200px;
  padding: 25px 0 0 15px;
  background-color: white;
}

.contactUsForm .contactForm button {
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: #0e902d;
  color: white;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

body {
  background-color: #f0efed;
}

body .contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7rem;
}

body .contactMain ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

body .contactMain ul li {
  list-style: none;
}

body .contactMain ul li a {
  color: #0e902d;
  padding: 20px;
  font-size: 1.2rem;
}

body .contactMain ul li a:first-child {
  padding-left: 0;
}

body .contactMain .contactEmail {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.5px;
}

body .contactMain .address p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@media only screen and (max-width: 750px) {
  .headerNav .navContent,
  .blogNav .navContent,
  .contactNav .navContent {
    margin-left: 2rem;
  }
  .headerNav .navContent .navigation,
  .blogNav .navContent .navigation,
  .contactNav .navContent .navigation {
    display: block;
  }
  .headerNav .navContent .navigation .mobileNavContent ul,
  .blogNav .navContent .navigation .mobileNavContent ul,
  .contactNav .navContent .navigation .mobileNavContent ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerNav .navContent .mainNav,
  .blogNav .navContent .mainNav,
  .contactNav .navContent .mainNav {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .headerNav .navContent nav {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .squareGallery {
    padding: 2rem;
  }
  .squareGallery .squareGalleryTop .squareGalleryTopInfo {
    margin-left: 5rem;
  }
  .squareGallery .squareGalleryTop .squareGalleryTopInfo p {
    margin-right: 1rem;
  }
  .squareGallery .squareGalleryBottom .squareGalleryBottomInfo {
    margin-right: -5rem;
  }
  .squareGallery .squareGalleryBottom .squareGalleryBottomInfo p {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .headerNav .navigation {
    display: block;
  }
  .mainHeader .mainTitle {
    padding-top: 9rem;
    line-height: 5rem;
  }
  .mainHeader .mainTitle h1 {
    margin: 2rem 0;
    font-size: 7rem;
  }
  .squareGallery {
    padding: 0;
    padding-bottom: 1.3rem;
  }
  .squareGallery .squareGalleryTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .squareGallery .squareGalleryTop .squareGalleryTopImage {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .squareGallery .squareGalleryTop .squareGalleryTopImage img {
    bottom: 0;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
    border-bottom: 10px solid #f8e71c;
  }
  .squareGallery .squareGalleryTop .squareGalleryTopInfo {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .squareGallery .squareGalleryBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .squareGallery .squareGalleryBottom .squareGalleryBottomImage {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }
  .squareGallery .squareGalleryBottom .squareGalleryBottomImage img {
    bottom: 0;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
    border-bottom: 10px solid #f8e71c;
  }
  .squareGallery .squareGalleryBottom .squareGalleryBottomInfo {
    width: 100%;
    margin: 2rem 2rem;
    padding: 1rem;
  }
  .squareGallery .squareGalleryBottom .squareGalleryBottomInfo h4 {
    padding-top: 2rem;
  }
  .iconLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 2.5rem 0 2.5rem 0;
  }
  .iconLinks .greenHouses,
  .iconLinks .community,
  .iconLinks .blog,
  .iconLinks .getInTouch {
    width: 80%;
    margin: 1rem 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .mainHeader .mainTitle {
    line-height: 4rem;
    padding-top: 10rem;
  }
  .mainHeader .mainTitle h1 {
    font-size: 6rem;
  }
  .mainHeader .mainTitle::after {
    width: 100%;
    height: 40vh;
  }
  .whatIsPlant {
    margin: 2rem 0;
    padding: 1rem 0 4rem 0;
  }
  .whatIsPlant .whatIsPlantContent {
    width: 85%;
  }
  .founder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .founder .founderImage {
    width: 80%;
  }
  .founder .founderContent {
    width: 80%;
    padding: 0;
    margin-top: 2rem;
  }
  .endGallery .galleryContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .endGallery .galleryContent img {
    width: 60%;
    margin: 0;
    padding: 0;
    padding: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .mainHeader .mainTitle {
    line-height: 3.5rem;
  }
  .mainHeader .mainTitle h1 {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .mainHeader {
    height: 85vh;
  }
  .mainHeader .mainTitle {
    line-height: 2.5rem;
  }
  .mainHeader .mainTitle h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1600px) {
  .blogHeader .blogHeaderTitle {
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 1250px) {
  .blogHeader .blogHeaderTitle {
    margin-left: 8rem;
  }
  .blogAside {
    margin-left: 2rem;
  }
  .blogAside img {
    width: 100%;
  }
  .blogAside .blogAsideInfo {
    margin-left: 0;
    width: 100%;
    right: 0;
    margin-top: 3rem;
  }
  .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 1000px) {
  .blogAside .blogAsideInfo {
    margin-top: 1rem;
  }
  .blogMainRight .blogMission .blogPost {
    padding-top: 7rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .blogHeader .blogHeaderTitle {
    text-align: center;
    margin: 0;
    margin-top: 8rem;
  }
  .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .blogMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 2rem;
  }
  .blogMain .blogAside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-left: 0;
    padding: 5rem 0 3.5rem 0;
  }
  .blogMain .blogAside img {
    width: 80%;
  }
  .blogMain .blogAside .blogAsideInfo {
    position: static;
    padding-top: 3rem;
    width: 80%;
    height: auto;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blogMain .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 0rem;
  }
  .blogMain .blogMainRight {
    width: 100%;
  }
  .blogMain .blogMainRight .blogMission {
    padding-left: 0;
  }
  .blogMain .blogMainRight .blogMission img {
    position: static;
    width: 100%;
    border-bottom: 10px solid #f8e71c;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  .blogMain .blogMainRight .blogMission .blogPost {
    position: static;
    padding-top: 3.5rem;
  }
  .blogMain .blogMainRight .blogMission .blogPost .hideTheWords {
    display: none;
    margin-top: .5rem;
  }
  .blogMain .blogMainRight .blogMission .blogPost .toggleReadMore {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #f0efed;
    background-color: #0e902d;
    padding: .6rem 1rem;
    display: block;
  }
  .commentsSection {
    position: static;
    margin: 2rem;
    padding-top: 1.5rem;
  }
  .commentsSection h4 {
    padding-bottom: 1rem;
  }
  .commentsSection .comment2 {
    margin-top: 6%;
  }
  .commentsSection .comment2 img {
    margin: 0 auto;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  .blogForm {
    position: static;
    margin: 1.5rem 2rem 2rem 2rem;
  }
  .blogForm .blogFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogForm .blogFormInput input[type='name'],
  .blogForm .blogFormInput input[type='email'] {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 650px) {
  .blogMain .blogMainRight .commentsSection .comment1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogMain .blogMainRight .commentsSection .comment1 img {
    width: 50%;
    margin: .5rem 0;
  }
  .blogMain .blogMainRight .commentsSection .comment1 .comment1Info {
    width: 90%;
  }
  .blogMain .blogMainRight .commentsSection .comment2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogMain .blogMainRight .commentsSection .comment2 img {
    width: 50%;
    margin: 1rem 0;
  }
  .blogMain .blogMainRight .commentsSection .comment2 .comment2Info {
    width: 90%;
  }
}

@media only screen and (max-width: 1440px) {
  .contactHeader .contactHeaderTitle {
    margin-top: 7rem;
    width: 30%;
  }
  .contactUsForm {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1250px) {
  .contactHeader .contactHeaderTitle {
    margin-top: 5rem;
    width: 30%;
  }
  .contactUsForm {
    left: 1rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .contactHeader .contactHeaderTitle {
    color: black;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 8rem;
    text-align: center;
  }
  .contactMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-left: 0 !important;
  }
  .contactMain .contactInfo {
    text-align: center;
    padding-top: 3rem;
  }
  .contactMain .contactInfo ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0.7rem;
  }
  .contactMain .contactUsForm {
    bottom: 0;
    left: 0;
    width: 70%;
  }
  .contactMain .contactUsForm input {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .contactMain .contactUsForm input[type='name'] {
    margin-bottom: 1.5rem;
  }
  .contactMain .contactUsForm textarea {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .contactUsForm {
    width: 100% !important;
    margin: 0;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
    border-top: 10px solid #f8e71c;
    border-bottom: 10px solid #f8e71c;
  }
}

@media only screen and (max-width: 500px) {
  .contactUsForm {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
    border-top: 10px solid #f8e71c;
    border-bottom: 10px solid #f8e71c;
  }
  .contactUsForm .contactForm .contactFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactUsForm .contactForm .contactFormInput input[type='name'],
  .contactUsForm .contactForm .contactFormInput input[type='email'] {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */