article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #f0efed;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  border: 3px solid #2c2c2c;
}

button:focus {
  border: 3px solid #2c2c2c !important;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  padding: .5rem;
  text-decoration: none;
}

.skipLink:focus {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 2px solid #074115;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.bold {
  font-weight: 600;
}

img {
  display: block;
}

.headerNav,
.blogNav,
.contactNav {
  color: #f0efed;
}

.headerNav .navContent,
.blogNav .navContent,
.contactNav .navContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  margin-left: 7rem;
}

.headerNav .navContent h2,
.blogNav .navContent h2,
.contactNav .navContent h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 1.1px;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNav ul li {
  padding: 10px 1rem;
}

.mainNav ul li:hover a::before, .mainNav ul li:hover a::after {
  width: 50%;
}

.mainNav ul li:hover a::before {
  margin-bottom: 6px;
  opacity: 1;
  left: 0;
}

.mainNav ul li:hover a::after {
  opacity: 1;
  margin-top: 6px;
  left: 50%;
}

.mainNav ul li a {
  position: relative;
  color: #f0efed;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  background-color: transparent;
}

.mainNav ul li a::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 35px;
  left: 50%;
  width: 50%;
  height: 2px;
  margin: 0;
  opacity: 0;
  background-color: #f8e71c;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

.mainNav ul li a:after {
  content: '';
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 30px;
  left: -3%;
  margin: 0;
  height: 2px;
  opacity: 0;
  background-color: #f8e71c;
  -webkit-transition: .2s linear all;
  transition: .2s linear all;
}

.mainNav ul li a.active {
  color: #f8e71c;
}

.mainNav ul li a:focus {
  font-size: 1.3rem;
  border: #f0efed 2px solid;
}

.blogNav,
.contactNav {
  background-color: #2c2c2c;
}

.mainHeader .navigation,
.blogHeader .navigation,
.contactHeader .navigation {
  display: none;
}

.mainHeader .navigation .navCheckbox,
.blogHeader .navigation .navCheckbox,
.contactHeader .navigation .navCheckbox {
  opacity: 0;
}

.mainHeader .navigation .navCheckbox:focus + .navButton,
.blogHeader .navigation .navCheckbox:focus + .navButton,
.contactHeader .navigation .navCheckbox:focus + .navButton {
  border: #074115 4px solid;
}

.navButton {
  position: fixed;
  top: -35px;
  right: 0;
  height: 6rem;
  width: 6rem;
  border-radius: 0 0 0 50%;
  z-index: 2000;
  background-color: #f8e71c;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(79, 79, 79, 0.6);
          box-shadow: 0 0.5rem 1rem rgba(79, 79, 79, 0.6);
  color: white;
  text-align: center;
  cursor: pointer;
}

.mobileNavContent {
  background: none;
  height: 90vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
}

.navList {
  width: 100%;
  position: absolute;
  top: 11%;
  text-align: center;
}

.navList .navItem {
  margin: .5rem;
}

.navList .navItem a {
  background-color: transparent;
}

.navLink:link, .navLink:visited {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: #f0efed;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navLink:hover, .navLink:active {
  background-position: 100%;
  color: #074115;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  background: rgba(248, 231, 28, 0.5);
  font-size: 1.5rem;
}

.navCheckbox:checked ~ .mobileNavContent {
  opacity: 1;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(7, 65, 21, 0.8)), color-stop(rgba(8, 79, 26, 0.8)), color-stop(rgba(9, 93, 30, 0.8)), color-stop(rgba(10, 108, 35, 0.8)), color-stop(rgba(11, 123, 39, 0.8)), color-stop(rgba(41, 138, 40, 0.8)), color-stop(rgba(63, 153, 39, 0.8)), color-stop(rgba(85, 168, 38, 0.8)), color-stop(rgba(125, 185, 31, 0.8)), color-stop(rgba(165, 201, 25, 0.8)), color-stop(rgba(205, 217, 22, 0.8)), to(rgba(248, 231, 28, 0.8)));
  background-image: linear-gradient(to right top, rgba(7, 65, 21, 0.8), rgba(8, 79, 26, 0.8), rgba(9, 93, 30, 0.8), rgba(10, 108, 35, 0.8), rgba(11, 123, 39, 0.8), rgba(41, 138, 40, 0.8), rgba(63, 153, 39, 0.8), rgba(85, 168, 38, 0.8), rgba(125, 185, 31, 0.8), rgba(165, 201, 25, 0.8), rgba(205, 217, 22, 0.8), rgba(248, 231, 28, 0.8));
  border-bottom-left-radius: 100%;
  -webkit-animation: moveLeft ease 1s;
          animation: moveLeft ease 1s;
}

.navIcon {
  position: relative;
  margin-top: 3.75rem;
}

.navIcon, .navIcon::before, .navIcon::after {
  width: 2rem;
  height: 2px;
  background-color: #074115;
  display: inline-block;
}

.navIcon::before, .navIcon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navIcon::before {
  content: '';
  top: -.8rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navIcon::after {
  top: .8rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navButton:hover .navIcon::before {
  left: -.5rem;
}

.navButton:hover .navIcon::after {
  left: .5rem;
}

.navCheckbox:checked + .navButton .navIcon {
  background-color: transparent;
}

.navCheckbox:checked + .navButton .navIcon::before {
  top: 0;
  -webkit-transform: rotate(495deg);
          transform: rotate(495deg);
  display: inline-block;
}

.navCheckbox:checked + .navButton .navIcon::after {
  top: 0;
  -webkit-transform: rotate(-495deg);
          transform: rotate(-495deg);
  display: inline-block;
}

.active {
  color: #f8e71c;
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translate(800px, -800px) scale(2);
            transform: translate(800px, -800px) scale(2);
    opacity: 0;
    background-image: transparent;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(7, 65, 21, 0.8)), color-stop(rgba(8, 79, 26, 0.8)), color-stop(rgba(9, 93, 30, 0.8)), color-stop(rgba(10, 108, 35, 0.8)), color-stop(rgba(11, 123, 39, 0.8)), color-stop(rgba(41, 138, 40, 0.8)), color-stop(rgba(63, 153, 39, 0.8)), color-stop(rgba(85, 168, 38, 0.8)), color-stop(rgba(125, 185, 31, 0.8)), color-stop(rgba(165, 201, 25, 0.8)), color-stop(rgba(205, 217, 22, 0.8)), to(rgba(248, 231, 28, 0.8)));
    background-image: linear-gradient(to right top, rgba(7, 65, 21, 0.8), rgba(8, 79, 26, 0.8), rgba(9, 93, 30, 0.8), rgba(10, 108, 35, 0.8), rgba(11, 123, 39, 0.8), rgba(41, 138, 40, 0.8), rgba(63, 153, 39, 0.8), rgba(85, 168, 38, 0.8), rgba(125, 185, 31, 0.8), rgba(165, 201, 25, 0.8), rgba(205, 217, 22, 0.8), rgba(248, 231, 28, 0.8));
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translate(800px, -800px) scale(2);
            transform: translate(800px, -800px) scale(2);
    opacity: 0;
    background-image: transparent;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(7, 65, 21, 0.8)), color-stop(rgba(8, 79, 26, 0.8)), color-stop(rgba(9, 93, 30, 0.8)), color-stop(rgba(10, 108, 35, 0.8)), color-stop(rgba(11, 123, 39, 0.8)), color-stop(rgba(41, 138, 40, 0.8)), color-stop(rgba(63, 153, 39, 0.8)), color-stop(rgba(85, 168, 38, 0.8)), color-stop(rgba(125, 185, 31, 0.8)), color-stop(rgba(165, 201, 25, 0.8)), color-stop(rgba(205, 217, 22, 0.8)), to(rgba(248, 231, 28, 0.8)));
    background-image: linear-gradient(to right top, rgba(7, 65, 21, 0.8), rgba(8, 79, 26, 0.8), rgba(9, 93, 30, 0.8), rgba(10, 108, 35, 0.8), rgba(11, 123, 39, 0.8), rgba(41, 138, 40, 0.8), rgba(63, 153, 39, 0.8), rgba(85, 168, 38, 0.8), rgba(125, 185, 31, 0.8), rgba(165, 201, 25, 0.8), rgba(205, 217, 22, 0.8), rgba(248, 231, 28, 0.8));
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(7, 65, 21, 0.8)), color-stop(rgba(8, 79, 26, 0.8)), color-stop(rgba(9, 93, 30, 0.8)), color-stop(rgba(10, 108, 35, 0.8)), color-stop(rgba(11, 123, 39, 0.8)), color-stop(rgba(41, 138, 40, 0.8)), color-stop(rgba(63, 153, 39, 0.8)), color-stop(rgba(85, 168, 38, 0.8)), color-stop(rgba(125, 185, 31, 0.8)), color-stop(rgba(165, 201, 25, 0.8)), color-stop(rgba(205, 217, 22, 0.8)), to(rgba(248, 231, 28, 0.8)));
    background-image: linear-gradient(to right top, rgba(7, 65, 21, 0.8), rgba(8, 79, 26, 0.8), rgba(9, 93, 30, 0.8), rgba(10, 108, 35, 0.8), rgba(11, 123, 39, 0.8), rgba(41, 138, 40, 0.8), rgba(63, 153, 39, 0.8), rgba(85, 168, 38, 0.8), rgba(125, 185, 31, 0.8), rgba(165, 201, 25, 0.8), rgba(205, 217, 22, 0.8), rgba(248, 231, 28, 0.8));
  }
  100% {
    -webkit-transform: translate(800, -800px) scale(1);
            transform: translate(800, -800px) scale(1);
    opacity: 0;
    background-image: transparent;
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    opacity: 1;
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(7, 65, 21, 0.8)), color-stop(rgba(8, 79, 26, 0.8)), color-stop(rgba(9, 93, 30, 0.8)), color-stop(rgba(10, 108, 35, 0.8)), color-stop(rgba(11, 123, 39, 0.8)), color-stop(rgba(41, 138, 40, 0.8)), color-stop(rgba(63, 153, 39, 0.8)), color-stop(rgba(85, 168, 38, 0.8)), color-stop(rgba(125, 185, 31, 0.8)), color-stop(rgba(165, 201, 25, 0.8)), color-stop(rgba(205, 217, 22, 0.8)), to(rgba(248, 231, 28, 0.8)));
    background-image: linear-gradient(to right top, rgba(7, 65, 21, 0.8), rgba(8, 79, 26, 0.8), rgba(9, 93, 30, 0.8), rgba(10, 108, 35, 0.8), rgba(11, 123, 39, 0.8), rgba(41, 138, 40, 0.8), rgba(63, 153, 39, 0.8), rgba(85, 168, 38, 0.8), rgba(125, 185, 31, 0.8), rgba(165, 201, 25, 0.8), rgba(205, 217, 22, 0.8), rgba(248, 231, 28, 0.8));
  }
  100% {
    -webkit-transform: translate(800, -800px) scale(1);
            transform: translate(800, -800px) scale(1);
    opacity: 0;
    background-image: transparent;
  }
}

footer {
  background-color: #2c2c2c;
  color: #f0efed;
  padding: 1px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@-webkit-keyframes headerSlideInTop {
  0% {
    right: -1000px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    right: 0;
  }
}

@keyframes headerSlideInTop {
  0% {
    right: -1000px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    right: 0;
  }
}

.mainHeader {
  height: 100vh;
  min-height: 500px;
  background-image: url("../../plantedFinalAssets/homeImage1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainHeader .mainTitle {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 10rem;
  line-height: 6rem;
}

.mainHeader .mainTitle h1 {
  margin: 0;
  padding: 0;
  z-index: 10;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 8rem;
  color: #f0efed;
}

.mainHeader .mainTitle h1 .lowerTitle {
  color: #f8e71c;
}

.mainHeader .mainTitle::after {
  content: '';
  height: 80vh;
  width: 45.5%;
  position: absolute;
  top: 235px;
  right: 0;
  background-image: url("./../../plantedFinalAssets/headerBox.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: headerSlideInTop 2s linear;
          animation: headerSlideInTop 2s linear;
}

.whatIsPlant {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c2c2c;
  margin: 3.5rem 0;
  padding: 3rem 0 3rem 0;
  background-color: #f0efed;
}

.whatIsPlantContent {
  width: 70%;
}

.whatIsPlantContent h3 {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1.3px;
}

.whatIsPlantContent p {
  padding-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.whatIsPlantContent a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
}

.whatIsPlantContent a:hover, .whatIsPlantContent a:active {
  color: #f0efed;
  background-color: #4f4f4f;
}

.whatIsPlantContent a:active {
  -webkit-box-shadow: inset 0px 0px 15px 7px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 10px 7px rgba(0, 0, 0, 0.71);
}

.squareGallery {
  background-color: white;
  padding: 2rem 0;
}

.squareGalleryTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.squareGalleryTop .squareGalleryTopImage {
  width: 43%;
}

.squareGalleryTop .squareGalleryTopImage img {
  width: 100%;
  position: relative;
  bottom: 3.2rem;
  -webkit-box-shadow: 10px 10px 0px 0px #f8e71c;
          box-shadow: 10px 10px 0px 0px #f8e71c;
}

.squareGalleryTop .squareGalleryTopInfo {
  width: 43%;
  margin: 0 0 1.9rem 14.5%;
}

.squareGalleryTop .squareGalleryTopInfo h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.squareGalleryTop .squareGalleryTopInfo p {
  margin-right: 4rem;
  padding-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.squareGalleryBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.squareGalleryBottom .squareGalleryBottomInfo {
  width: 43%;
  margin-top: 1rem;
  text-align: right;
}

.squareGalleryBottom .squareGalleryBottomInfo h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.squareGalleryBottom .squareGalleryBottomInfo p {
  margin-left: 4rem;
  padding-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.squareGalleryBottom .squareGalleryBottomImage {
  width: 43%;
  margin-left: 10.5rem;
}

.squareGalleryBottom .squareGalleryBottomImage img {
  width: 100%;
  position: relative;
  top: 3.2rem;
  -webkit-box-shadow: -10px 10px 0px 0px #f8e71c;
          box-shadow: -10px 10px 0px 0px #f8e71c;
}

a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
}

a:hover {
  color: #f0efed;
  background-color: #4f4f4f;
}

a:active {
  -webkit-box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
}

.mainIcons:after {
  content: '';
  width: 100%;
  height: 60vh;
  display: block;
  margin: 0;
  background-image: url("./../../plantedFinalAssets/bannerImage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainIcons .iconLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f0efed;
  margin: 5rem 5rem 4rem 5rem;
}

.mainIcons .iconLinks > div {
  padding: .3rem;
}

.greenHouses {
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.greenHouses h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.greenHouses h5:before {
  content: '\f06c';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
}

.greenHouses p {
  margin-left: 3.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.community h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.community h5:before {
  content: '\f0c0';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
}

.community p {
  margin-left: 3.9rem;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blog h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.blog h5:before {
  content: '\f15b';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
}

.blog p {
  margin-left: 3.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.getInTouch {
  padding-left: .5rem;
}

.getInTouch h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.getInTouch h5:before {
  content: '\f095';
  font-family: 'Font Awesome 5 Free';
  margin-right: 1rem;
  padding: .5rem;
  border-radius: 100px;
  background-color: #f8e71c;
  height: 100px;
  width: 100px;
}

.greenHouses,
.community,
.blog,
.getInTouch {
  width: 50%;
}

.greenHouses p,
.community p,
.blog p,
.getInTouch p {
  margin-left: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0efed;
  padding: 4rem 0;
  margin: 0 0 1rem 0;
}

.founder .founderContent {
  width: 70%;
  padding-left: 7rem;
}

.founder .founderContent h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  margin-top: 1.3rem;
}

.founder .founderContent p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: .5rem;
}

.founder .founderContent a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
  margin-top: 1rem;
}

.founder .founderContent a:hover {
  color: #f0efed;
  background-color: #4f4f4f;
}

.founder .founderContent a:active {
  -webkit-box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
}

.founder img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 0px 0px #f8e71c;
          box-shadow: 10px 10px 0px 0px #f8e71c;
}

.endGallery {
  background-color: white;
}

.galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.galleryContent img {
  width: 33.3%;
  margin: 1rem;
  -webkit-transition: .7s all ease;
  transition: .7s all ease;
}

.galleryContent img:first-child {
  margin-left: 0;
}

.galleryContent img:last-child {
  margin-right: 0;
}

.galleryContent img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.blogHeader {
  height: 65vh;
  min-height: 500px;
  background-image: url("./../../plantedFinalAssets/blogHeader1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blogHeader .blogHeaderTitle {
  margin: 14rem 0 0 7rem;
}

.blogHeader .blogHeaderTitle h1 {
  color: #f8e71c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.75rem;
  letter-spacing: 1.3px;
  font-weight: 600;
  line-height: 4.5rem;
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f0efed;
}

.blogMainRight {
  width: 65%;
  position: relative;
}

.blogMainRight .blogMission {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-left: 20px;
}

.blogMainRight .blogMission img {
  width: 99%;
  position: relative;
  left: calc(100% - 99%);
  -webkit-box-shadow: -10px 10px 0px 0px #f8e71c;
  box-shadow: -10px 10px 0px 0px #f8e71c;
  bottom: 200px;
}

.blogMainRight .blogMission .blogPost {
  position: relative;
  bottom: 300px;
  margin-right: 5rem;
  padding: 8.5rem 0 2.5rem 3rem;
  border-bottom: 2px solid #f8e71c;
  border-left: 2px solid #f8e71c;
}

.blogTitle h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.blogTitle p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  color: #074115;
}

.blogPost p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogPost .toggleReadMore {
  display: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f0efed;
  background-color: #0e902d;
  padding: .6rem 1rem;
}

.blogPost .toggleReadMore:hover {
  color: #f0efed;
  background-color: #4f4f4f;
}

.blogPost .toggleReadMore:active {
  -webkit-box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
}

.blogAside {
  width: 35%;
  position: relative;
  margin-top: 7rem;
  z-index: 10;
}

.blogAside img {
  width: 90%;
  z-index: 20;
}

.blogAsideInfo {
  height: 41rem;
  width: 75%;
  position: absolute;
  top: 15px;
  right: 35px;
  margin-left: 6rem;
  padding: 10rem 1rem 0 1rem;
  z-index: -1;
  background-color: #ffffff;
}

.blogAsideInfo h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.blogAsideInfoTop {
  padding-top: 10rem;
}

.blogAsideInfoTop p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogAsideInfoTop a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #074115;
  font-weight: 600;
  font-style: italic;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.blogAsideInfoBottom ul {
  padding-left: 15px;
}

.blogAsideInfoBottom ul li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogAsideInfoBottom ul li:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 15px 5px 0;
  border-radius: 50%;
  background-color: #0e902d;
  font-weight: 300;
}

.commentsSection {
  position: relative;
  bottom: 11rem;
  margin-right: 5rem;
}

.commentsSection h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  padding-bottom: 1.5rem;
}

.commentsSection .comment1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commentsSection .comment1 img {
  width: 30%;
  margin-right: 2rem;
}

.commentsSection .comment1 .comment1Info {
  width: 70%;
}

.commentsSection .comment1 .comment1Info .bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #074115;
}

.commentsSection .comment1 .comment1Info p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.commentsSection .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.commentsSection .comment2 img {
  width: 30%;
  margin-right: 4rem;
}

.commentsSection .comment2 .comment2Info {
  text-align: left;
  width: 70%;
}

.commentsSection .comment2 .comment2Info .bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #074115;
}

.commentsSection .comment2 .comment2Info p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem 20px 0;
  position: relative;
  bottom: 6rem;
}

.blogForm .blogFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.blogForm .blogFormInput input {
  width: 49%;
  padding-bottom: .5rem;
}

.blogForm .blogFormInput input[type='email'] {
  margin: 0 0 1rem 2%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #0e902d;
  padding-bottom: 1rem;
  background-color: #f0efed;
}

.blogForm .blogFormInput input[type='name'] {
  margin: 0 2% 1rem 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #0e902d;
  padding-bottom: 1rem;
  background-color: #f0efed;
}

.blogForm textarea {
  margin: 1rem 0;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #0e902d;
  width: 100%;
  background-color: #f0efed;
}

.blogForm button {
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: #0e902d;
  color: white;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.blogForm button:hover {
  color: #f0efed;
  background-color: #4f4f4f;
}

.blogForm button:active {
  -webkit-box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
}

.contactHeader {
  height: 65vh;
  min-height: 500px;
  background-image: url("./../../plantedFinalAssets/contactHeader1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactHeader .contactHeaderTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  margin: 10rem 0 0 7rem;
}

.contactHeader .contactHeaderTitle h1 {
  color: #f8e71c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.75rem;
  letter-spacing: 1.3px;
  font-weight: 600;
  line-height: 4.5rem;
}

.contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7rem;
}

.contactMain ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.contactMain ul li a {
  color: #0e902d;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 1.2rem;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
  background-color: transparent;
}

.contactMain ul li a:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  font-size: 1.5rem;
  color: #4f4f4f;
}

.contactMain ul li:first-of-type a {
  padding-left: 0;
}

.contactEmail {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.5px;
}

.address p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.contactUsForm {
  width: 56%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 200px;
  left: 140px;
  margin: 0;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: -10px 10px 0px 0px #f8e71c;
          box-shadow: -10px 10px 0px 0px #f8e71c;
}

.contactUsForm .contactForm {
  width: 80%;
}

.contactForm .contactFormInput {
  width: 100%;
}

.contactForm .contactFormInput input[type='email'],
.contactForm .contactFormInput input[type='name'] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #0e902d;
  padding-bottom: 1rem;
  width: calc(50% - 3%);
  margin: 2rem 0 1rem 0;
  padding-bottom: 0.5rem;
}

.contactForm .contactFormInput input[type='email'] {
  margin-left: 2%;
}

.contactForm .contactFormInput input[type='name'] {
  margin-right: 2%;
}

.contactForm textarea {
  height: 200px;
  padding: 25px 0 0 15px;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #0e902d;
  width: 100%;
  background-color: white;
}

.contactForm .postComment {
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: #0e902d;
  color: white;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin: 2rem 0 1rem 0;
}

.contactForm .postComment:hover {
  color: #f0efed;
  background-color: #4f4f4f;
}

.contactForm .postComment:active {
  -webkit-box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.71);
}

@media only screen and (max-width: 750px) {
  .headerNav .navContent,
  .blogNav .navContent,
  .contactNav .navContent {
    margin-left: 2rem;
  }
  .headerNav .navContent .navigation,
  .blogNav .navContent .navigation,
  .contactNav .navContent .navigation {
    display: block;
  }
  .headerNav .navContent .navigation .mobileNavContent,
  .blogNav .navContent .navigation .mobileNavContent,
  .contactNav .navContent .navigation .mobileNavContent {
    height: 100vh;
  }
  .headerNav .navContent .navigation .mobileNavContent ul,
  .blogNav .navContent .navigation .mobileNavContent ul,
  .contactNav .navContent .navigation .mobileNavContent ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerNav .navContent .navigation .mobileNavContent ul li,
  .blogNav .navContent .navigation .mobileNavContent ul li,
  .contactNav .navContent .navigation .mobileNavContent ul li {
    font-size: .7rem;
  }
  .headerNav .navContent .navigation .mobileNavContent ul li:hover, .headerNav .navContent .navigation .mobileNavContent ul li:active,
  .blogNav .navContent .navigation .mobileNavContent ul li:hover,
  .blogNav .navContent .navigation .mobileNavContent ul li:active,
  .contactNav .navContent .navigation .mobileNavContent ul li:hover,
  .contactNav .navContent .navigation .mobileNavContent ul li:active {
    font-size: 1rem;
  }
  .headerNav .navContent .mainNav,
  .blogNav .navContent .mainNav,
  .contactNav .navContent .mainNav {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .headerNav .navContent nav {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .contactHeader .navigation .navList,
  .blogHeader .navigation .navList,
  .mainHeader .navigation .navList {
    top: 5rem;
    font-size: 0.8rem;
  }
  .contactHeader .navigation .navList:hover, .contactHeader .navigation .navList:active,
  .blogHeader .navigation .navList:hover,
  .blogHeader .navigation .navList:active,
  .mainHeader .navigation .navList:hover,
  .mainHeader .navigation .navList:active {
    font-size: 1rem;
  }
  .contactHeader .navigation .navCheckbox:checked ~ .mobileNavContent,
  .blogHeader .navigation .navCheckbox:checked ~ .mobileNavContent,
  .mainHeader .navigation .navCheckbox:checked ~ .mobileNavContent {
    border-radius: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .squareGallery {
    padding: 2rem;
  }
  .squareGalleryTop .squareGalleryTopInfo {
    margin-left: 5rem;
  }
  .squareGalleryTop .squareGalleryTopInfo p {
    margin-right: 1rem;
  }
  .squareGalleryBottom .squareGalleryBottomInfo {
    margin-right: -5rem;
  }
  .squareGalleryBottom .squareGalleryBottomInfo p {
    margin-left: 1rem;
  }
  .founder .founderContent {
    padding-left: 4rem;
  }
}

@media only screen and (max-width: 750px) {
  .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .headerNav .navigation {
    display: block;
  }
  .mainHeader .mainTitle {
    padding-top: 9rem;
    line-height: 5rem;
  }
  .mainHeader .mainTitle h1 {
    margin: 2rem 0;
    font-size: 7rem;
  }
  .squareGallery {
    padding: 0;
    padding-bottom: 1.3rem;
  }
  .squareGalleryTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .squareGalleryTop .squareGalleryTopImage {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .squareGalleryTop .squareGalleryTopImage img {
    bottom: 0;
    border-bottom: 10px solid #f8e71c;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  .squareGalleryTop .squareGalleryTopInfo {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .squareGalleryBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .squareGalleryBottom .squareGalleryBottomImage {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }
  .squareGalleryBottom .squareGalleryBottomImage img {
    bottom: 0;
    border-bottom: 10px solid #f8e71c;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  .squareGalleryBottom .squareGalleryBottomInfo {
    width: 100%;
    margin: 2rem 2rem;
    padding: 1rem;
  }
  .squareGalleryBottom .squareGalleryBottomInfo h4 {
    padding-top: 2rem;
  }
  .mainIcons .iconLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 2.5rem 0;
  }
  .mainIcons .iconLinks .greenHouses,
  .mainIcons .iconLinks .community,
  .mainIcons .iconLinks .blog,
  .mainIcons .iconLinks .getInTouch {
    width: 80%;
    margin: 1rem 2rem;
  }
  .founder .founderContent {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .mainHeader .mainTitle {
    padding-top: 10rem;
    line-height: 4rem;
  }
  .mainHeader .mainTitle h1 {
    font-size: 5.5rem;
  }
  .mainHeader .mainTitle::after {
    width: 100%;
    height: 40vh;
  }
  .whatIsPlant {
    margin: 2rem 0;
    padding: 1rem 0 4rem 0;
  }
  .whatIsPlant .whatIsPlantContent {
    width: 85%;
  }
  .founder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .founder .founderImage {
    width: 80%;
  }
  .founder .founderContent {
    width: 80%;
    margin-top: 2rem;
    padding: 0;
  }
  .endGallery .galleryContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .endGallery .galleryContent img {
    width: 60%;
    margin: 0;
    padding: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .mainHeader .mainTitle {
    line-height: 3.5rem;
  }
  .mainHeader .mainTitle h1 {
    font-size: 4.5rem;
  }
  .iconLinks .greenHouses p,
  .iconLinks .community p,
  .iconLinks .blog p,
  .iconLinks .getInTouch p {
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .mainHeader {
    height: 85vh;
  }
  .mainHeader .mainTitle {
    padding-top: 7rem;
    line-height: 2.5rem;
  }
  .mainHeader .mainTitle h1 {
    font-size: 3.5rem;
  }
  .mainHeader .mainTitle:after {
    top: 8rem;
  }
  .iconLinks .greenHouses h5,
  .iconLinks .community h5,
  .iconLinks .blog h5,
  .iconLinks .getInTouch h5 {
    text-align: center;
  }
  .iconLinks .greenHouses h5:before,
  .iconLinks .community h5:before,
  .iconLinks .blog h5:before,
  .iconLinks .getInTouch h5:before {
    height: 34px;
    width: 34px;
    display: block;
    margin-bottom: 2rem;
  }
  .iconLinks .greenHouses p,
  .iconLinks .community p,
  .iconLinks .blog p,
  .iconLinks .getInTouch p {
    text-align: center;
  }
}

@media only screen and (min-width: 1800px) {
  .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 12rem;
  }
}

@media only screen and (max-width: 1650px) {
  .blogHeader .blogHeaderTitle {
    margin-left: 10rem;
  }
  .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 11rem;
  }
}

@media only screen and (max-width: 1440px) {
  .blogHeader .blogHeaderTitle {
    margin-left: 7rem;
  }
}

@media only screen and (max-width: 1250px) {
  .blogAside {
    margin-left: 2rem;
  }
  .blogAside img {
    width: 100%;
  }
  .blogAside .blogAsideInfo {
    margin-left: 0;
    width: 100%;
    right: 0;
    margin-top: 3rem;
  }
  .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 1000px) {
  .blogAside .blogAsideInfo {
    margin-top: 1rem;
    height: 43rem;
  }
  .blogMainRight .blogMission .blogPost {
    padding-top: 7rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .blogHeader .blogHeaderTitle {
    text-align: center;
    margin: 0;
    margin-top: 8rem;
  }
  .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .blogMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 2rem;
  }
  .blogMain .blogAside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-left: 0;
    padding: 5rem 0 3.5rem 0;
  }
  .blogMain .blogAside img {
    width: 80%;
  }
  .blogMain .blogAside .blogAsideInfo {
    position: static;
    padding-top: 3rem;
    width: 80%;
    height: auto;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blogMain .blogAside .blogAsideInfo .blogAsideInfoTop {
    padding-top: 0rem;
  }
  .blogMain .blogMainRight {
    width: 100%;
  }
  .blogMain .blogMainRight .blogMission {
    padding-left: 0;
  }
  .blogMain .blogMainRight .blogMission img {
    position: static;
    width: 100%;
    border-bottom: 10px solid #f8e71c;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  .blogMain .blogMainRight .blogMission .blogPost {
    position: static;
    padding-top: 3.5rem;
    margin-right: 1.5rem;
  }
  .blogMain .blogMainRight .blogMission .blogPost .hideTheWords {
    display: none;
    margin-top: .5rem;
  }
  .blogMain .blogMainRight .blogMission .blogPost .toggleReadMore {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #f0efed;
    background-color: #0e902d;
    padding: .6rem 1rem;
    display: block;
  }
  .commentsSection {
    position: static;
    margin: 2rem;
    padding-top: 1.5rem;
  }
  .commentsSection h4 {
    padding-bottom: 1rem;
  }
  .commentsSection .comment2 {
    margin-top: 6%;
  }
  .commentsSection .comment2 img {
    margin: 0 auto;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  .blogForm {
    position: static;
    margin: 1.5rem 2rem 2rem 2rem;
  }
  .blogForm .blogFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogForm .blogFormInput input[type='name'],
  .blogForm .blogFormInput input[type='email'] {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 650px) {
  .blogMain .blogMainRight .commentsSection .comment1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogMain .blogMainRight .commentsSection .comment1 img {
    width: 37%;
    margin: .5rem 0;
  }
  .blogMain .blogMainRight .commentsSection .comment1 .comment1Info {
    width: 90%;
  }
  .blogMain .blogMainRight .commentsSection .comment2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogMain .blogMainRight .commentsSection .comment2 img {
    width: 37%;
    margin: 1rem 0;
  }
  .blogMain .blogMainRight .commentsSection .comment2 .comment2Info {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .blogForm {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .blogMain .blogMainRight .commentsSection .comment1 img {
    width: 80%;
  }
}

@media only screen and (min-width: 1800px) {
  .contactMain {
    margin-left: 0;
  }
  .contactMain .contactUsForm {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1440px) {
  .contactHeader .contactHeaderTitle {
    width: 30%;
    margin-top: 7rem;
  }
  .contactUsForm {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1250px) {
  .contactHeader .contactHeaderTitle {
    width: 30%;
    margin-top: 5rem;
  }
  .contactUsForm {
    left: 1rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .contactHeader .contactHeaderTitle {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 8rem;
    color: black;
    text-align: center;
  }
  .contactMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3rem 0;
  }
  .contactMain .contactInfo {
    padding-top: 3rem;
    text-align: center;
  }
  .contactMain .contactInfo ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0.7rem;
  }
  .contactMain .contactUsForm {
    width: 70%;
    bottom: 0;
    left: 0;
  }
  .contactMain .contactUsForm input {
    width: 100%;
    margin-left: 0;
  }
  .contactMain .contactUsForm input[type='name'] {
    margin-bottom: 1.5rem;
  }
  .contactMain .contactUsForm textarea {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .contactMain .contactUsForm {
    width: 100%;
    margin: 0;
    border-top: 10px solid #f8e71c;
    border-bottom: 10px solid #f8e71c;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .contactUsForm {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
    border-top: 10px solid #f8e71c;
    border-bottom: 10px solid #f8e71c;
  }
  .contactForm .contactFormInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactForm .contactFormInput input[type='name'],
  .contactForm .contactFormInput input[type='email'] {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .contactHeader .contactHeaderTitle {
    margin-top: 6rem;
  }
}
/*# sourceMappingURL=style.css.map */