
.endGallery{
    background-color:white;

    .galleryContent {
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
        padding: 4rem 0;
    

        img{
            width:33.3%;
            margin:1rem;

            &:first-child {
                margin-left:0;
            }

            &:last-child {
                margin-right:0;
            }
        
        }

        


    }
}

