.founder{
    @include displayFlex(row, flex-start, center);
    background-color:$colorWhite; 
    padding: 4rem 0;
    margin-top:1rem;
    margin-bottom:1rem;

    .founderContent{
        width:70%;
        padding-left:6rem;


        h3{
            font-family:$primaryFont;
            font-weight:600; 
            @include fontSize(2rem);
            letter-spacing: 1px;
            padding:0;
            margin:0;
        }
    
        p {
            font-family:$secondaryFont;
            @include fontSize(1rem);
            line-height:1.5rem; 
        }

        a {
            font-family: $primaryFont;
            font-weight: 600;
            @include fontSize(1rem);
            text-align: center;
            line-height: 1.5rem;
            letter-spacing: 1px;
            text-decoration: none;
            color: $colorWhite;
            background-color: $colorLightGreen;
            padding: .6rem 1rem;
        }

    }


    img {
        width:100%;
        // margin-right:1rem;
        -webkit-box-shadow: 10px 10px 0px 0px $colorYellow;
        -moz-box-shadow: 10px 10px 0px 0px $colorYellow;
        box-shadow: 10px 10px 0px 0px $colorYellow;
    }

}