.founder {
    @include displayFlex(row, flex-start, center);
    background-color: $colorWhite;
    padding: 4rem 0;
    margin: 1rem 0;

    .founderContent {
        width: 70%;
        padding-left: 7rem;

        h4 {
            @include subHeadingText;
            margin-top: 1.3rem;
        }

        p {
            @include bodyText;
            padding-bottom: .5rem;
        }

        a {
            @include mainButton;
            margin-top: 1rem;

            &:hover {
                @include buttonHover;
            }

            &:active {
                @include buttonActive;
            }
        }
    }

    img {
        width: 100%;
        -webkit-box-shadow: 10px 10px 0px 0px $colorYellow;
        -moz-box-shadow: 10px 10px 0px 0px $colorYellow;
        box-shadow: 10px 10px 0px 0px $colorYellow;
    }
}