.mainHeader {
    height: 100vh;
    min-height: 500px;
    background-image: url('../../plantedFinalAssets/homeImage1.jpg');
    @include backgroundProperties;

    .mainTitle {
        width: 20%;
        @include displayFlex(column, center, center);
        margin: 0 auto;
        padding-top: 10rem;
        line-height: 6rem;

        h1 {
            margin: 0;
            padding: 0;
            z-index: 10;
            font-family: $primaryFont;
            font-weight: 400;
            @include fontSize(8.5rem);
            color: $colorWhite;

            .lowerTitle {
                color: $colorYellow;
            }
        }

        &::after {
            content: '';
            height: 80vh;
            width: 45.5%;
            position: absolute;
            top: 235px;
            right: 0;
            background-image: url('./../../plantedFinalAssets/headerBox.jpg');
            @include backgroundProperties;
            animation: headerSlideInTop 2s linear;
        }
    }
}