.mainHeader{
    height:100vh;
    background-image:url('../../plantedFinalAssets/homeImage1.jpg');
    background-size:cover;
    background-repeat:no-repeat;

    .mainTitle{
        padding-top:12rem;
        width:20%;
        @include displayFlex(column, center, center);
        margin:0 auto;
        line-height:6rem;
        
        h1{
            font-family:$primaryFont;
            color:$colorWhite;
            @include fontSize(8rem);
            z-index:10;
            font-weight:400; 
            padding:0;
            margin:0; 

            .lowerTitle{
                color:$colorYellow;
            }
        }

        &::after{
            content:'';
            position:absolute;
            top:235px;
            background-image:url('./../../plantedFinalAssets/headerBox.jpg');
            background-size:cover;
            height:80vh;
            width:45.5%;
            right:0;
        }
        

    }

}