.squareGallery{
    background-color:white;

    .squareGalleryTop{
        @include displayFlex(row, flex-start, center);

        .squareGalleryTopImage{
            width:43%;

            img{
                width:100%;
                position:relative;
                bottom:1.2rem;
                -webkit-box-shadow: 10px 10px 0px 0px $colorYellow;
                -moz-box-shadow: 10px 10px 0px 0px $colorYellow;
                box-shadow: 10px 10px 0px 0px $colorYellow;
            }

        }

        .squareGalleryTopInfo{
            width: 43%;
            margin-left:14.5%;

            h4{
                @include subHeadingText;
            }

            p {
               @include bodyText;
                padding-bottom:1rem;
            }

        }
    }

    
    .squareGalleryBottom{
        @include displayFlex(row, flex-start, center);

        .squareGalleryBottomInfo{
            width:43%;
            text-align:right;
            

            h4 {
               @include subHeadingText;
            }

            p {
                @include bodyText;
                padding-bottom:1rem;
            }

        }

        .squareGalleryBottomImage{
            width:43%;
            margin-left:10.5rem;


            img{
                width:100%;
                position:relative;
                top:1.2rem;
                -webkit-box-shadow: -10px 10px 0px 0px $colorYellow;
                -moz-box-shadow: -10px 10px 0px 0px $colorYellow;
                box-shadow: -10px 10px 0px 0px $colorYellow;
            }

        }
    }

    a{
        @include mainButton;
    }
}
