.whatIsPlant{
    text-align:center;
    @include displayFlex(column, flex-start, center);
    color:$colorBlack;
    margin:3.5rem 0;
    padding:3rem 0 3rem 0;
    background-color:$colorWhite;
    
    .whatIsPlantContent{
        width:70%;

        h3{
            @include indexHeadingText;
            margin:0;
            padding:0;

        }

        p{
            @include bodyText;
            padding-bottom:1rem;
        }

        a{
            @include mainButton;
        }

    }
}